@import 'https://fonts.googleapis.com/css?family=Lily+Script+One';
/* general styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #1E2749;
    font-family: 'Lily Script One', 'helvetica', Arial, sans-serif;
    font-size: 10px;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),url(./images/mcvities_banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    
}


.modal-header {
    padding: 15px;
    border-bottom:none !important;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: none !important;
}




/* header styling */
.header {
    color: #E4D9FF;
    text-align: center;
}

.header h1 {
    margin-top: 13px;
    font-size: 3rem;
}

.controls {
    margin: 3rem auto 1rem;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    font-size: 1.15rem;
    font-family: 'helvetica', Arial, sans-serif;
    transition: all 0.3s;
}

.refresh {
    transition: all 0.3s;
}

.refresh:hover {
    color: #273469;
}

.moves-container {
    margin-left: 1rem;
}

/* .game-start-btn {
    width: 150px;
    border: 1px solid #E4D9FF;
    border-radius: 50px;
    padding: 0.5rem;
    transition: all 0.3s;
} */

.game-start-btn {
    background: #E4D9FF;
    color: #1E2749;
    cursor: pointer;
    width: 150px;
    border: 1px solid #E4D9FF;
    border-radius: 50px;
    padding: 0.5rem;
}

.game-start-btn:hover {
    background: #E4D9FF;
    color: #1E2749;
    cursor: pointer;
}

.hide-start-btn {
    display: none;
}

/* card ddeck styling */

.deck {
    margin: 3vh auto 0 ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 660px;
    min-height: 600px;
}

.card {
    list-style: none;
    width: 130px;
    height: 130px;
    color: #E4D9FF;
    background: #1E2744;
    margin: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    perspective: 500px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    transform-origin: center;
    transition: all 0.5s;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    transition: all 0.5s;
    transform-style: preserve-3d;
}

.card-face {
    position: absolute;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.front {
    background: #e2e2de;
}

.back {
    background: #42bafb;
    transform: rotateY( 180deg );
}

.fab {
    font-size: 5rem;
    line-height: 1.9;
    text-align: center;
}

.card-container.flipped {
    transform: rotateY(180deg);
}

.cant-click-this {
    pointer-events: none;
}

.wrong {
    animation: wrong 0.25s ease-in-out;
}

@keyframes wrong {
    0% {
        transform: rotate(0);
    } 25% {
         transform: rotate(-15deg);
    } 50% {
         transform: rotate(0);
    } 75% {
        transform: rotate(15deg);
    } 100% {
         transform: rotate(0);
    }
}

.correct {
    animation: correct 0.3s ease-in-out;
}

@keyframes correct {
    0% {
        transform: scaleX(1) scaleY(1);
    } 50% {
        transform: scaleX(1.15) scaleY(1.1);
    } 100% {
        transform: scaleX(1) scaleY(1);
    }
}

/* win section styling */
.win {
    display: none;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 130%;
    background: #FAFAFF;
    text-align: center;
    transition: all 0.3s;
}

.win h1 {
    color: #273469;
    font-size: 3.5rem;
    margin-top: 16rem;
}

.win h3 {
    margin-top: 1rem;
    font-family: 'helvetica', Arial, sans-serif;
    color: #273469;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}

.win p {
    margin-top: 1rem;
    font-family: 'helvetica', Arial, sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 200;
    color: #aaa;
}

.replay {
    margin-top: 2rem;
    width: 150px;
    padding: 1rem;
    border-radius: 50px;
    background: #273469;
    border: none;
    color: #FAFAFF;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    transition: all 0.25s;
    outline: none;
}

.replay:hover {
    background: #273469;
}

.replay:active {
    background: rgb(22, 29, 53);
}

.win-screen {
    display: block;
     opacity: 1;
}

.star, .moves, .seconds {
    font-weight: bold;
}

/* resposivness */
@media  screen and (max-width: 650px) {


  .card {
      width: 120px;
      height: 120px;
      /* margin: 0.3em; */
  }

  .controls {
      width: 500px;
  }
}

@media  screen and (max-width: 525px) {

  .card {
      /* width: 100px;
      height: 100px; */

      width: 130px;
      height: 130px;

  }

  .controls {
      /* width: 500px; */
      width: 400px;
  }
}

@media  screen and (max-width: 450px) {

  .card {
      /* width: 90px;
      height: 90px; */

      width: 130px;
      height: 130px;

  }

  .controls {
      width: 400px;
  }
}

/* this was added newly */

@media  screen and (max-width: 360px) {

    .card {
        
  
        width: 120px;
        height: 120px;
  
    }
  
    .controls {
        width: 350px;
    }
  }



/*image css*/


/* .image1:before{
    background: url(/images/image1.png) no-repeat;
    content: '';
    display: block;
    height: 50px;
    width: 50px;
} */
/* .image1:before {
    content: url(./images/image1.png) "\a";
    line-height: 1.9;
    text-align: center;
    font-size: 10px !important;
} */



  .shortbread{
    background-image: url(./images/shortbread.png); /* The image used */
    height: 125px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: 100px 70px;
  }


  /* New Images */
  .image11{
    background-image: url(./images/image11.png); /* The image used */
    height: 125px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: 130px 120px;
  }

  .image12{
    background-image: url(./images/image12.png); /* The image used */
    height: 125px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: 130px 120px;
  }

  .image13{
    background-image: url(./images/image13.png); /* The image used */
    height: 125px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: 130px 120px;
  }

  .image14{
    background-image: url(./images/image14.png); /* The image used */
    height: 125px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: 150px 90px;
  }

  .image15{
    background-image: url(./images/image15.png); /* The image used */
    height: 125px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: 130px 120px;
  }

  .image16{
    background-image: url(./images/image16.png); /* The image used */
    height: 125px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: 150px 90px;
  }


  .image17{
    background-image: url(./images/image17.png); /* The image used */
    height: 125px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: 150px 90px;
  }

  .image18{
    background-image: url(./images/image18.png); /* The image used */
    height: 125px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: 130px 120px;
  }

  /* End New Images */

  .question{
    background-image: url(./images/question.png); /* The image used */
    height: 125px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: 50px 50px;
    
  }

  /* Rewards */

  

  .mcvities{
    background-image: url(./images/mcvities.png); /* The image used */
    height: 130px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: 200px 150px;
  } 

  .reward1{
    background-image: url(./images/reward1.png); /* The image used */
    height: 130px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: 200px 150px;
  }

  .reward2{
    background-image: url(./images/reward2.png); /* The image used */
    height: 130px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: 200px 150px;
  }

  .reward3{
    background-image: url(./images/reward3.png); /* The image used */
    height: 130px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: 200px 150px;
  }

  .reward4{
    background-image: url(./images/reward4.png); /* The image used */
    height: 130px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: 200px 150px;
  }

  .reward5{
    background-image: url(./images/reward5.png); /* The image used */
    height: 130px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: 200px 150px;
  }
  
  .reward6{
    background-image: url(./images/reward6.png); /* The image used */
    height: 130px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: 200px 150px;
  }

  .reward7{
    background-image: url(./images/reward7.png); /* The image used */
    height: 130px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: 200px 150px;
  }



